<template>
  <main>
    <pm-loader v-show="isLoading"></pm-loader>

    <pm-notification v-show="showNotification" :type-notification="hasData">
      <p v-if="hasData" slot="body">No se encontraron resultados</p>
      <p v-else slot="body">{{ searchMessage }}</p>
    </pm-notification>

    <section class="section" v-show="!isLoading">
      <nav class="navbar">
        <div class="container">
          <input type="text" class="input is-large" v-model="searchQuery" @keyup.enter="search" placeholder="Buscar canciones">
          <a class="button is-info is-large" @click="search">Buscar</a>
          <a class="button is-danger is-large">&times;</a>
        </div>
      </nav>

      <div class="container">
        <p><small>{{ searchMessage }}</small></p>
      </div>

      <div class="container results">
        <div class="columns is-multiline">
          <div class="column is-one-quarter" v-for="t in tracks">
            <pm-track :track="t" @select="setSelectedTrack" :class="{ 'is-active': t.id === selectedTrack }"></pm-track>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
  import trackService from '@/services/track'

  import PmTrack from '@/components/Track.vue'

  import PmNotification from '@/components/shared/Notification.vue'
  import PmLoader from '@/components/shared/Loader.vue'

  export default {
    name: 'app',
    components: {
      PmLoader,
      PmTrack,
      PmNotification
    },
    data () {
      return {
        searchQuery: '',
        tracks: [],

        isLoading: false,
        showNotification: false,
        hasData: false,

        selectedTrack: ''
      }
    },

    computed: {
      searchMessage() {
        return `Encontrados: ${this.tracks.length}`
      }
    },

    watch: {
      showNotification() {
        if (this.showNotification) {
          setTimeout(() => {
            this.showNotification = false
          }, 3000)
        }
      }
    },

    methods: {
      search() {
        if (!this.searchQuery) { return }
        this.isLoading = true

        trackService.search(this.searchQuery)
          .then(res => {
            this.showNotification = true
            this.hasData = res.tracks.total === 0
            this.tracks = res.tracks.items
            this.isLoading = false
          })
      },
      setSelectedTrack(id) {
        this.selectedTrack = id
      }
    }
  }
</script>

<style lang="scss">
  .results {
    margin-top: 50px;
  }

  .is-active {
    border: 3px #23D160 solid;
  }
</style>
