<template>
  <div id="app">
    <pm-header></pm-header>

    <router-view></router-view>

    <pm-footer></pm-footer>
  </div>
</template>

<script>
  import PmHeader from '@/components/layout/Header.vue'
  import PmFooter from '@/components/layout/Footer.vue'

  export default {
    name: 'app',
    components: { PmHeader, PmFooter }
  }
</script>

<style lang="scss">
  @import "./scss/main.scss";

  .results {
    margin-top: 50px;
  }

  .is-active {
    border: 3px #23D160 solid;
  }
</style>
